body, h1, h2, h3, h4, h5, h6 {
  font-family: Bitter, serif;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
}
h2 {
  font-weight: 700;
}

footer {
  background-color: #ccc;
  margin-top: 4rem;
  padding: 4rem 0;
  color: #333;
}
footer .row {
  padding: 0 5%;
}
footer .navbar-brand {
  font-size: 3rem;
}

footer #social-icons {
  justify-content: flex-end;
  align-items: center;
}

footer #social-icons a {
  color: #777;
  font-size: 1.25rem;
  margin: .5rem;
}

footer #social-icons a:hover {
  color: #555;
}

img { width: 100%; }

#basic-navbar-nav {
  justify-content: right;
}
#bits-n-tags {
  margin: 1.5em 0;
  border: .25px #555 solid;
  border-right: none;
  border-left: none;
}
#tags {
  justify-content: right;
}
#bits .list-group-item, #tags .list-group-item {
  border: none;
}
#bits .list-group-item:first-child {
  padding-left: 0;
}
#hero {
  padding-bottom: 2em;
}
#hero .description p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
}
#ingredients li, #instructions li {
  font-size: 1.2rem;
}
#instructions ol {
  list-style-position: inside;
}

.container {
  padding: 0;
}
.navbar-brand {
  font: 4em "Loved by the King";
}
.navbar-nav {
  text-transform: lowercase;
}
.navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar .container.home , .home .navbar-collapse, .home .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.home .navbar-collapse .navbar-nav {
  flex-basis: 100%;
}
.home.header .navbar-brand {
  font-size: 6em;
  flex-basis: 100%;
  text-align: center;
}
#main-navbar-container, #main-navbar {
  justify-content: center;
}
#main-navbar {
  column-gap: 2rem;
}
#main-navbar a {
  width: 8em;
  text-align: center;
  flex-basis: content;
}
.home .featured, .home .recent {
  margin-bottom: 3rem;
}
.home .featured {
  margin-top: 3rem;
}
.home .featured h2 {
  margin-top: 1rem;
  font-size: 3rem;
}
.home .featured a, .recipe .source a {
  color: #333;
  text-decoration: none;
}
.home .featured .desc {
  font-weight: 200;
  font-style: italic;
  font-size: 1.2rem;
}
.source a:hover {
  text-decoration: underline;
}

.recipeList {
  row-gap: 3rem;
}

/* Recipe Cards */
.card.recipe {
  border: 0;
}
.card.recipe .card-img {
  border-radius: 0;
}
.card.recipe .card-title {
  font-size: 1.5rem;
  margin-top: .75rem;
}
.category.card {
  margin-bottom: 15px;
}
.card.recipe a {
  color: #333;
  text-decoration: none;
}
.card.recipe a.edit-link {
  position: absolute;
  top: .5rem;
  right: .5rem;
  background-color: #fff;
  opacity: .5;
  padding: .25rem .5rem;
  display: inline-block;
  transition: .5s all;
}
.card.recipe a.edit-link:hover {
  opacity: 1;
}

/* Recipe */
.container-fluid.recipe {
  margin-top: 2rem;
}
.container-fluid.recipeInner {
  margin-bottom: 6rem;
}
.container-fluid.recipe .edit-link {
  display: inline-block;
  color: #999;
  text-decoration: none;
}
.container-fluid.recipe .edit-link:hover {
  color: #333;
  text-decoration: underline;
}
.container-fluid.recipe .info {
  margin-bottom: 3rem;
}
.meta.row {
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  padding: .75rem 0;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.meta.row div {
  margin: .25rem 0;
}
.meta .servings, .meta .totalTime { font-size: .9rem; }
.meta .servings { flex: .05 0 content; }
.tags.col {
  flex: 0 0 content;
}
.meta .tags {
  display: flex;
  justify-content: flex-end;
}
.meta a {
  margin-left: .5rem;
  background-color: #efefef;
  border-radius: .3rem;
  padding: .2rem .4rem;
  text-decoration: none;
  font-size: .9rem;
  font-style: normal;
  font-weight: 200;
  color: #333;
  transition: all .5s;
}
.meta a:hover {
  background-color: #dfdfdf;
}

.ing-dir.row ul, .ing-dir.row ol {
  margin-bottom: 2em;
}

/* Create Recipe Form */
div.form-group { margin-bottom: 2em; }
label.form-label { font-size: 1.5em; font-weight: 700; }
label[for=tags] { display: block; }
.form-check-inline { margin-right: 2em; }
.add-tag { --bs-btn-padding-y: .1rem; --bs-btn-border-radius: 1rem; }
.new-tag-group { margin-top: 1em; display: none; }
.new-tag-group.visible { display: block; }
.new-tag-group input { width: 15em; display: inline-block; margin-right: 1em; }

/* Edit Recipe Form */
#editRecipe .ingListItem, .dragged-ing .ingListItem { display: inline; }
#editRecipe .ingListItem.amt, .dragged-ing .ingListItem.amt { width: 4rem; }
#editRecipe .ingListItem.unit, .dragged-ing .ingListItem.unit { width: 12rem; }
#editRecipe .ingListItem.name, .dragged-ing .ingListItem.name { width: 50rem; }
#editRecipe .ing-list .fa-sort { font-size: 1.15em; margin-right: 1em; }
#editRecipe .editImgThumbsCont { margin-bottom: 1rem; }
#editRecipe .editImgThumb { position: relative; }
#editRecipe .editImgThumb .fa-trash-can { position: absolute; right: .5rem; top: .5rem; opacity: .6; }
#editRecipe .editImgThumb .fa-trash-can:hover { opacity: 1; }
#editRecipe .form-group.buttons button { margin-right: 2em; }
#editRecipe .addImg { background-color: #ddd; width: 200px; height: 200px; text-align: center; color: #fff; font-size: 10em; line-height: 200px; font-weight: 200; }
#editRecipe .addImg:hover { background-color: #ccc; cursor: pointer; }
#editRecipe .imageSelect { display: none; }

/* Search */
ol.ais-Hits-list {
  position: absolute;
  z-index: 100;
}
li.ais-Hits-item {
  background-color: #eee;
}